# Splitting of Dataset

<h2> Importing Libraries </h2>

In [39]:
import pandas as pd
import numpy as np

<h2> Importing Dataset </h2>

In [40]:
df = pd.read_excel("Salary_Dataset_02.xls")

In [41]:
df.head()

   Australia  Canada  Dubai  USA  Salary  YearsExperience  Purchased
0          0       0      1    0   39343              1.1          0
1          0       1      0    0   46205              1.3          1
2          0       1      0    0   37731              1.5          0
3          0       1      0    0   43525              2.0          0
4          0       0      0    1   39891              2.2          0

<h2> Dividing into Target and Predictor Variables </h2>

<h2> Divide Data as Training Set and Testing Set </h2>