# Feature Scaling Solution Notebook

### Importing Libraries

In [1]:
import pandas as pd
import numpy as np

### Importing Dataset

In [3]:
df = pd.read_csv("Dataset_03.csv")
df.head(15)

    Australia  Canada  Dubai  USA  Salary  YearsExperience  Purchased
0           0       0      1    0   39343              1.1          0
1           0       1      0    0   46205              1.3          1
2           0       1      0    0   37731              1.5          0
3           0       1      0    0   43525              2.0          0
4           0       0      0    1   39891              2.2          0
5           0       0      1    0   56642              2.9          0
6           0       1      0    0   60150              3.0          1
7           1       0      0    0   54445              3.2          0
8           0       0      1    0   64445              3.2          1
9           0       0      1    0   57189              3.7          0
10          0       0      1    0   63218              3.9          1
11          0       0      0    1   55794              4.0          0
12          0       0      1    0   56957              4.0          1
13          0       1      0    0   57081              4.1          0
14          1       0      0    0   61111              4.5          0

In [ ]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

### Splitting Dataset

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test =train_test_split(X, y, test_size = 0.2, random_state = 1)

### Perform Feature Scaling

### Check it

In [ ]:
X_train

In [ ]:
X_test